<!DOCTYPE html>
<html>
<head>
  <title>Zwinneproj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    Hello, <%= current_user.email %>!
  <% else %>
    <%= link_to "Log in", new_user_session_path %> | 
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
  <br />

  <img src="<%= asset_path 'logo.jpeg' %>" />

  <p>
    <%= flash[:notice] %>
  </p>

<%= yield %>

</body>
</html>
